<!DOCTYPE html>
<html>
  <head>
    <title>Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Message</h1>
    <p><strong><%= text %>.</strong> From: <%= user %>, at <%= added %> </p>
  </body>
</html>
